<section class="card">
  <h2 class="card-header-title">{{title}}</h2>
  <p class="content">{{content}}</p>
  <p class="card-footer-item">Posted by {{name}} on {{format_date date_created}} </p>
  <p class="card-footer-item icon-container add-comment">
    <i data-id="{{thread_id}}" class="fa-solid fa-comment"></i>
  </p>
</section>
<form class="comment-form hide" data-threadid="{{thread_id}}">
  <textarea id="comment-content" name="content" cols="30" rows="5" placeholder="tell us how you really feel"></textarea>
  <button class="button teal-btn">commit your thoughts</button>
  <button class="button teal-btn light-btn cancel">nevermind</button>
</form>
{{#if comments.length}}
<section class="comment-container">
  {{#each comments as |comment|}}
  <section class="comment">
    <h3>{{comment.user.name}}</h3>
    <p>{{comment.content}}</p>
    <small>commented on {{format_date comment.date_created}}</small>
  </section>
  {{/each}}
</section>
{{/if}}

<script src="/js/forum.js"></script>