{{#each threads as |thread|}}
<section class="card">
    <h2 class="card-header-title">{{thread.title}}</h2>
    <p class="content">{{thread.content}}</p>
    <p class="comments-icon card-footer-item">
        <i class="fa-solid fa-comments" data-id="{{thread.id}}"></i>
    </p>
    <p class="card-footer-item">Posted by {{thread.user.name}} on {{format_date thread.date_created}} </p>
</section>
{{/each}}
{{#if logged_in}}
<script src="/js/forum.js"></script>
{{/if}}