<form class="thread">
  <h1>{{state}} post</h1>
  {{#if edit}}
  <label for="title">Title</label>
  <input class="thread-title" name="title" type="text" value="{{title}}">
  <label for="content">Content</label>
  <textarea class="thread-content" name="content" cols="30" rows="5">{{content}}</textarea>
  <div class="btn-container">
    <button data-function="edit" data-id="{{id}}" class="button post-thread teal-btn">Edit your thoughts in hyperspace!</button>
    <button data-function="delete" data-id="{{id}}" class="button post-thread teal-btn light-btn">Delete your thoughts from hyperspace!</button>
  </div>
  {{else}}
  <label for="title">Title</label>
  <input class="thread-title" name="title" type="text" placeholder="topic of your digression">
  <label for="content">Content</label>
  <textarea class="thread-content" name="content" cols="30" rows="5" placeholder="spill your thoughts here"></textarea>
  <div class="btn-container">
    <button class="button teal-btn post-thread" data-function="post">Post your thoughts to hyperspace!</button>
    <button class="button teal-btn light-btn" data-function="cancel">Cancel this nonsense</button>
  </div>
  {{/if}}
</form>

<script src="/js/thread.js"></script>